@model Matriculas.Models.ViewModels.RankingCursosViewModel
@{
    ViewData["Title"] = "Ranking de cursos";
}

<h2>Ranking de cursos em @Model.Ano</h2>
<p class="text-muted">10 cursos com maior número de matrículas.</p>

<div class="row">
    <div class="col-md-6">
        <h4>Presencial</h4>
        @await Html.PartialAsync("_TabelaRanking", Model.Presenciais)
    </div>
    <div class="col-md-6">
        <h4>EaD</h4>
        @await Html.PartialAsync("_TabelaRanking", Model.EaD)
    </div>
</div>
